- name: Install PostgreSQL
  hosts: db
  become: true
  tags: postgres
  tasks:
    - name: Create directory for PostgreSQL GPG key
      file:
        path: /usr/share/postgresql-common/pgdg
        state: directory
        mode: "0755"

    - name: Download PostgreSQL repository signing key
      get_url:
        url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
        dest: /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc
        mode: "0644"

    - name: Add PostgreSQL APT repository
      apt_repository:
        repo: "deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt {{ ansible_facts['lsb']['codename'] }}-pgdg main"
        filename: pgdg

    - name: Update package cache
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install PostgreSQL
      apt:
        name:
          - postgresql-18
        state: present

    - name: Start PostgreSQL
      service:
        name: postgresql
        state: started
        enabled: true
