- hosts: db
  handlers:
    - name: restart postgresql
      service:
        name: postgresql
        state: restarted

    - name: restart mysql
      service:
        name: mysql
        state: restarted

  vars:
    benchmarker_ip: "{{ hostvars['mybenchvm-benchmarker']['ansible_host'] }}"
    ansible_python_interpreter: /opt/venv/bin/python
