#cloud-config
package_update: true

users:
  - name: ubuntu
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    lock_passwd: false
    ssh_authorized_keys:
      - ${public_key}

runcmd:
  - apt install -y curl ca-certificates wget tar
  - |
    wget https://github.com/prometheus/node_exporter/releases/download/v1.10.2/node_exporter-1.10.2.linux-amd64.tar.gz
    tar -xzf node_exporter-1.10.2.linux-amd64.tar.gz
    install -m 0755 node_exporter-1.10.2.linux-amd64/node_exporter /usr/local/bin/
    rm -rf node_exporter-1.10.2.linux-amd64*

write_files:
  - path: /etc/systemd/system/node_exporter.service
    permissions: "0644"
    owner: root
    content: |
      [Unit]
      Description=Prometheus Node Exporter
      After=network-online.target
      Wants=network-online.target

      [Service]
      User=ubuntu
      Group=ubuntu
      Type=simple
      ExecStart=/usr/local/bin/node_exporter
      Restart=on-failure

      [Install]
      WantedBy=multi-user.target
