#cloud-config
package_update: true

users:
  - name: ubuntu
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    lock_passwd: false
    ssh_authorized_keys:
      - ${public_key}

runcmd:
  - apt install -y curl ca-certificates wget tar
  - install -d /usr/share/postgresql-common/pgdg
  - curl -o /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc --fail https://www.postgresql.org/media/keys/ACCC4CF8.asc
  - bash -c '. /etc/os-release && echo "deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt $VERSION_CODENAME-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

  - apt install -y curl ca-certificates wget tar
  - wget https://dev.mysql.com/get/mysql-apt-config_0.8.36-1_all.deb
  - dpkg -i mysql-apt-config_0.8.36-1_all.deb

  - apt update
  - apt install -y postgresql-18
  - apt install -y mysql-server
